body html{
    margin:0;
    padding:0;
    height:100%;
}

body{
  background-color: #000;
}

.navbar{
  z-index: 1.1;
}

.searchContent {
  z-index: 1;
  position: relative;
  padding-top: 40vh;
}

.form-control{
  border-radius: 50px;
}


.pageName{
  color: #fff;
  font-size:3rem;
  text-shadow: 0px 0px 8px rgb(22, 7, 7);
  letter-spacing: 0.5rem; 
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchContent h4{
  letter-spacing: 0.25rem;
  color: #ffffff;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.searchContent .btn-lg{
  width:16rem;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  transition:0.3s all;
  background: rgb(106,195,29);
  outline: none;
  border:none;
  font-weight: bold;
}

.searchContent .btn-lg:hover{
  background: rgb(92, 173, 21);
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(../images/bg6.jpg); 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(../images/bg2.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(../images/bg4.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(../images/bg1.jpg) ;
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(../images/bg5.jpg);
    animation-delay: 40s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
